extends ../public/index

block head_
    title Авторизация
    link(rel="stylesheet", href="stylesheet/auth.css")

block body_
    h2 Авторизация
    //-TODO: что писать тут хз
    form(action="")
        //-TODO: что писать тут хз
        input(type="hidden", name="")
        span логин:
        input(type="text", name="username")
        br
        span пароль:
        input(type="password", name="")
        br
        button Войти