extends ../public/index

block head_
    title Авторизация
    link(rel="stylesheet", href="stylesheet/auth.css")

block body_
    if err
        card
            card.header
                | Ошибка
            card.body=err
    h2 Авторизация
    form(action="/auth", method="post")
        input(type="hidden", name="token", value=value)
        span логин:
        input(type="text", name="username")
        br
        span пароль:
        input(type="password", name="password")
        br
        button(type="submit") Войти