extends ../public/index

block head_
    style.
        td{
            padding: 5px;
        }
    title Домашная страница

block body_
    a(href="/add")
        button.btn.btn-success
            |Добавить аббитуриента
    table(border="2")
        thead
            tr
                td №п/п
                td Дата заявления
                td Ф.И.О.
                td Форма получения образования
                td Специальность
                td Вид
                td Приоритет о выборе специальности / вида (от 1 до 3)
                td № личного дела
                td № экз.листа
                td Основа обучения
                td Нуждаемость в общежитии
                td Пол
                td Дата рождения
                td Гражданство
                td Адрес местожительства (прописка)
                td Район, Омск, Иногородние, Иностранцы
                td Вид
                td Паспортные данные (серия, номер, кем и когда выдан)
                td Телефон
                td Социальные категории (сирота, опекаемый, инвалид, ОВЗ)
                td СПО впервые / не впервые
                td Уровень образования
                td Базовое образование (учебное заведение)
                td Год окончания учеб. завед.
                td Иностранный язык
                td Особые успехи в учении
                td Дополнительное образование
                td Замечания по л.д.
                td Оригинал документа об образовании
                td Копия паспорта
                td Копия документа об образовании
                td Мед.справка Ф086
                td Фото (кол-во)
                td Оплата на коммерческую основу
                td № и дата договора подгот.курсов
                td Оплата (сумма и № квитанции)
                td Вступительное испытание (балл) (1)
                td Средний балл документа об образовании (2)
                td Сумма баллов (1+2)
                td Средний балл профильных предметов (3)
                td Сумма баллов (1+2+3)
                td Решение приемной комиссии
                td № и дата приказа о зачислении
                td Текущий возраст
                td Совер., несов
                td Приоритет, вид, оригинал аттестата
        tbody
            if array
                each item in array
                    tr
                        td
            else
                tr
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -