extends ../public/index

block head_
    title Страница поиска
    link(rel="stylesheet", href="stylesheet/search.css")
    script(src="scripts/search.js")
block body_
    h2 Поиск
    form
        .search-area(action="", method="post")
            input.search-text(type="text", name="" placeholder="поиск по ФИО...")
            input.search-button(type="submit", value="")
    form
        .opt-container
            .filter-area
                h3.nakedsnake Категории 
                    span.venomsnake фильтров

                .form-button-my(onclick="blockSwappp(0)" id="activeButton")
                    .ico-block-my#button1
                    span Личная информация
                .form-button-my(onclick="blockSwappp(1)")
                    .ico-block-my#button2
                    span Контакты
                .form-button-my(onclick="blockSwappp(2)")
                    .ico-block-my#button3
                    span Результаты
            .criteria-aria
                h3 Фильтры
                    button.search-button-second
                .criteria-group#activeBlock
                    ul
                        li Дата заявления
                        li
                            input.jschk(type="checkbox", name="criteria-status_1" id="chk1") 
                            label(for="chk1" onclick="refreshInputs()") 
                            p От: 
                            input.jsinp(type="date", name="criteria-value_1")
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk2") 
                            label(for="chk2" onclick="refreshInputs()") 
                            p До: 
                            input.jsinp(type="date", name="criteria_2-value")
                    ul
                        li Форма получения образования
                        li
                            input(type="checkbox", name="criteria-status_3" id="chk3")
                            label(for="chk3" onclick="refreshInputs()") 
                            p Очная
                        li
                            input(type="checkbox", name="criteria-status_4" id="chk4")
                            label(for="chk4" onclick="refreshInputs()") 
                            p Заочная
                    ul
                        li Специальности
                            li 
                                input(type="checkbox", name="criteria-status_5" id="chk5")
                                label(for="chk5" onclick="refreshInputs()") 
                                p архитектура
                            li 
                                input(type="checkbox", name="criteria-status_6" id="chk6")
                                label(for="chk6" onclick="refreshInputs()") 
                                p строительство и эксплуатация зданий и сооружений
                            li 
                                input(type="checkbox", name="criteria-status_7" id="chk7")
                                label(for="chk7" onclick="refreshInputs()") 
                                p водоснабжение и водоотведение
                            li 
                                input(type="checkbox", name="criteria-status_8" id="chk8")
                                label(for="chk8" onclick="refreshInputs()") 
                                p программирование в компьютерных системах
                            li
                                input(type="checkbox", name="criteria-status_9" id="chk9")
                                label(for="chk9" onclick="refreshInputs()") 
                                p техническое обслуживание и ремонт систем винтеляции и земельно имущественные отношения
                            li 
                                input(type="checkbox", name="criteria-status_10" id="chk10")
                                label(for="chk10" onclick="refreshInputs()") 
                                p ТЕХНИЧЕСКАЯ ЭКСПЛУАТАЦИЯ ПОДЪЕМНО-ТРАНСПОРТНЫХ, СТРОИТЕЛЬНЫХ, ДОРОЖНЫХ МАШИН И ОБОРУДОВАНИЯ
                            li
                                input(type="checkbox", name="criteria-status_11" id="chk11")
                                label(for="chk11" onclick="refreshInputs()") 
                                p ДИЗАЙН
                            li 
                                input(type="checkbox", name="criteria-status_12" id="chk12")
                                label(for="chk12" onclick="refreshInputs()") 
                                p ПРОИЗВОДСТВО НЕМЕТАЛЛИЧЕСКИХ СТРОИТЕЛЬНЫХ ИЗДЕЛИЙ И КОНСТРУКЦИЙ
                            li
                                input(type="checkbox", name="criteria-status_13" id="chk13")
                                label(for="chk13" onclick="refreshInputs()") 
                                p МИЭ
                    ul
                        li Основа обучения
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk13")
                            label(for="chk13" onclick="refreshInputs()") 
                            p бюджет
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk43")
                            label(for="chk43" onclick="refreshInputs()") 
                            p внебюджет
                    ul
                        li Нуждаемость в общежитии
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk44")
                            label(for="chk44" onclick="refreshInputs()") 
                            p да
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk45")
                            label(for="chk45" onclick="refreshInputs()") 
                            p нет
                    ul
                        li Пол
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk14")
                            label(for="chk14" onclick="refreshInputs()") 
                            p М
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk15")
                            label(for="chk15" onclick="refreshInputs()") 
                            p Ж
                    ul
                        li Дата рождения
                        li 
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk16")
                            label(for="chk16" onclick="refreshInputs()") 
                            p От:
                            input.jsinp(type="date", name="criteria_2-value")
                        li 
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk17")
                            label(for="chk17" onclick="refreshInputs()") 
                            p До:
                            input.jsinp(type="date", name="criteria_2-value")
                    ul
                        li Гражданство
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk18")
                            label(for="chk18" onclick="refreshInputs()") 
                            p РФ
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk19")
                            label(for="chk19" onclick="refreshInputs()") 
                            p ИГ
                    ul
                        li Область
                        li 
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk20")
                            label(for="chk20" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
                .criteria-group
                    ul
                        li Паспортные данные (серия, номер, кем и когда выдан)
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk21")
                            label(for="chk21" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
                    ul
                        li Социальные категории (сирота, опекаемый, инвалид, ОВЗ)
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk22")
                            label(for="chk22" onclick="refreshInputs()") 
                            p ничего
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk23")
                            label(for="chk23" onclick="refreshInputs()") 
                            p сирота
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk24")
                            label(for="chk24" onclick="refreshInputs()") 
                            p опекаемый
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk24")
                            label(for="chk24" onclick="refreshInputs()") 
                            p инвалид
                        li 
                            input(type="checkbox", name="criteria-status_2" id="chk25")
                            label(for="chk25" onclick="refreshInputs()") 
                            p ОВЗ
                    ul
                        li СПО впервые / не впервые
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk26")
                            label(for="chk26" onclick="refreshInputs()") 
                            p впервые
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk40")
                            label(for="chk40" onclick="refreshInputs()") 
                            p не впервые
                    ul
                        li Уровень образования
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk27")
                            label(for="chk27" onclick="refreshInputs()")
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk41")
                            label(for="chk41" onclick="refreshInputs()")
                    ul
                        li Год окончания учеб. завед.
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk28")
                            label(for="chk28" onclick="refreshInputs()") 
                            p От
                            input.jsinp(type="date", name="criteria_2-value")
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk29")
                            label(for="chk29" onclick="refreshInputs()") 
                            p До
                            input.jsinp(type="date", name="criteria_2-value")
                    ul
                        li Особые успехи в учении
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk30")
                            label(for="chk30" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
                    ul
                        li Оригинал документа об образовании
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk31")
                            label(for="chk31" onclick="refreshInputs()") 
                            p да
                        li
                            input(type="checkbox", name="criteria-status_2" id="chk42")
                            label(for="chk42" onclick="refreshInputs()") 
                            p нет
                    ul
                        li Копия документа об образовании
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk32")
                            label(for="chk32" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
                .criteria-group
                    ul
                        li Вступительное испытание (балл) (1)
                        li  
                            input.jschk(type="checkbox", name="criteria-status_1" id="chk33")
                            label(for="chk33" onclick="refreshInputs()") 
                            p выше:
                            input.jsinp(type="number", name="criteria-value_1")
                        li 
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk34")
                            label(for="chk34" onclick="refreshInputs()") 
                            p ниже: 
                            input.jsinp(type="number", name="criteria_2-value")
                    ul
                        li Средний балл документа об образовании (2)
                        li 
                            input.jschk(type="checkbox", name="criteria-status_1" id="chk35")
                            label(for="chk35" onclick="refreshInputs()") 
                            p выше: 
                            input.jsinp(type="number", name="criteria-value_1")
                        li 
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk36")
                            label(for="chk36" onclick="refreshInputs()") 
                            p ниже: 
                            input.jsinp(type="number", name="criteria_2-value")
                    ul
                        li Решение приемной комиссии
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk37")
                            label(for="chk37" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
                    ul
                        li № и дата приказа о зачислении
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk38")
                            label(for="chk38" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
                    ul
                        li Приоритет, вид, оригинал аттестата
                        li
                            input.jschk(type="checkbox", name="criteria-status_2" id="chk39")
                            label(for="chk39" onclick="refreshInputs()")
                            input.jsinp(type="text", name="criteria_2-value")
    script.
        easyInputs()
