doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="http://localhost:3000/stylesheet/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="http://localhost:3000/stylesheet/main.css")
        block head_
    body
        nav
            a.aleft(href="/")
                p Домашняя
            if !usr
                a.aright(href="/auth")
                    p Вход
            else
                .aright
                    p=usr
        header
            br
            br
        article
            block body_
    footer
        .container(style="bottom: 0; left: 0;")
            p
            | &copy; 2020 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            a(href='#') View Source