doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head_
    body
        block body_
    footer
        .container
            p
            | &copy; 2016 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            a(href='#') View Source