doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stylesheet/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheet/main.css")
        block head_
    body
        nav
            a(href="/")
                p Домашняя
        header
            img(src="", alt="")
            div
                h1 имя проэкта
                p слоган или чтото в этом роде
        article
            block body_
    footer
        .container(style="bottom: 0; left: 0;")
            p
            | &copy; 2020 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            a(href='#') View Source