.card{
    border: none;
}

.btn-danger,.clear-my,.submit-my{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 0;
    padding-right: 10px;
}

.btn-danger:hover{
    background-color: #ff0019;
}

.btn-danger::before,.clear-my::before,.submit-my::after{
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("/images/fgback.png");
    background-color: rgba(0, 0, 0, .6);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    margin-right: 10px;
}

.card-footer{
    background-color: white;
    border: none;
}

.card-header{
    background-color: white;
    border: none;
    border-radius: 0;
}

.card-header label{
    margin-left: 20px;
    font-size: 30px;
    float: left;
}

.card-header label::after{
    content: ':';
}

.card-header input{
    font-size: 30px;
    float: left;
    width: 70px;
    height: initial;
    background-color: white !important;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.card-header input:focus{
    outline: none;
    border: none;
}

.card-body{
    padding: 20px;
    display: flex;
    margin-left: 0;
}

.form-buttons{
    padding: 20px;
    box-sizing: border-box;
}

.form-buttons .form-button-my{
    display: flex;
    flex-wrap: 0;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    background-color: rgb(89, 175, 255);
    color: lightgray;
    cursor: pointer;
}

.form-buttons .form-button-my:hover{
    background-color: rgb(89, 106, 255);
    color: white;
}

.form-buttons .form-button-my .ico-block-my{
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, .6);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}

#button1{
    background-image: url("/images/user.png");
}

#button2{
    background-image: url("/images/contacts.png");
}

#button3{
    background-image: url("/images/tests.png");
}

.form-buttons .form-button-my span{
    margin-left: 20px;
}

.form-blocks{
    max-width: calc(100% - 120px);
    flex-grow: 1;
}

.form-blocks .form-group-of-groups{
    display: none;
}

#activeButton{
    background-color: rgb(55, 53, 184);
    color: white;
}

#activeBlock{
    display: block;
}

.form-control{
    height: initial;
}

@media (max-width:910px){
    .form-buttons .form-button-my span{
        display: none;
    }
    .form-buttons .form-button-my{
        width: 70px;
    }

    .clear-my{
        font-size: 0;
        padding: 0;
    }

    .clear-my::before{
        margin: 0;
    }

    .submit-my{
        font-size: 0;
        padding: 0 !important;
    }

    .submit-my::after{
        margin: 0 !important;
    }
}

.submit-my{
    float: right;
    padding-right: 0;
    padding-left: 10px;
}

.submit-my::after{
    background-image: url("/images/save.png");
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.clear-my{
    float:left;
}

.clear-my::before{
    background-image: url("/images/del.png");
}

@media (max-width:500px){
    
    .form-blocks{
        width: 90%;
        margin-left: 5%;
        max-width: 100%;
    }

    .form-buttons{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .form-group-of-groups{
        width: 100%;
    }
}

/**/

.tdnum{
    text-align: right;
}

.del-my,.add-my{
    background-color: rgb(89, 175, 255);
    color: white;
    font-size: 20px;
    padding: 5px 15px;
    display: unset;
}

.add-my{
    margin-right: 10px;
}

.del-my{
    display: none;
}

td{
    padding-right: 10px;
}

.secondtr,.thirdtr{
    display: none;
}

#activetr{
    display: table-row;
}

#disabletr{
    display: none;
}

#visible{
    display: unset !important;
}

#invisible{
    display: none !important;
}